{% extends 'base.html' %}

{% block title %}AI Search Bar{% endblock title %}

{% block content %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center w-full max-w-2xl">
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <h1 class="card-title text-3xl justify-center mb-6">AI Search Bar</h1>
        <div class="form-control">
          <div class="input-group space-y-2">
            <input 
                id="prompt_input" 
                name="prompt_input" 
                type="text" 
                placeholder="Search or ask a qustion..."
                class="input input-bordered w-full"
                hx-post="{% url 'active_search'%}"
                hx-trigger="input changed delay:250ms"
                hx-target="#search-results"
                hx-swap="innerHTML"
            >
          </div>
        </div> 
        <div 
          id="search-results" 
          class="my-4 rounded-xl w-full max-h-[calc(100vh-200px)] md:max-h-[calc(100vh-300px)] overflow-y-auto">
          <!-- Search results will be displayed here-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

